body {
    background-image: url(https://i.postimg.cc/FFVQZ96R/1da275b7-3322-46fa-b533-713d95eeca39.png);
    background-size: 0.09cm ;     
    background-repeat: round;
    font-family: "Segoe UI", sans-serif; 
}